html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;


  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 1px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

div{
padding: 30px;
}


#dropbox {
    border: 2px dashed #000000;
    padding: 20px;
    margin:auto;
}

#dropbox.active {
    border: 4px dashed #FF0000;
}

.progress-trough {
    border: 1px solid #000000;
    height: 24px;
    width: 100%;
    position: relative;
}

.progress-bar {
    width: 50%;
    height: 100%;
    background-color: #0099FF;
}

#text-center{
    font-family: 'Do Hyeon', sans-serif;
    color: white;
    width: auto;
    display: inline-block;
    text-align: center;
    width:100%;
    height:100%;
    background:#f5f5f5;
    position:relative;
} 
#text-center .mainpage{ 
    width:1000px;
    height:650px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-500px;
    margin-top:-325px;
    background-color: #112B3C;
    border : 3px solid #120562;
    border-radius : 20px;
}
.leftpage{ 
    width:500px;
    height:550px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-450px;
    margin-top:-275px;
    background-color: #B2B0BB;
    border : 3px solid #120562;
    border-radius : 20px;
}
.filetitle{
    width:350px;
    height:100px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left : 100px;
    margin-top : -230px;
    background-color: #205375;
    border : 1px solid black;
    border-radius : 20px;
}
.resultpage{
    width:350px;
    height:100px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left : 100px;
    margin-top : -95px;
    background-color: #205375;
    border : 1px solid black;
    border-radius : 20px;
}
.buttoncon{
    width:350px;
    height:100px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left : 100px;
    margin-top : 95px;
    border-radius : 20px;
}

.button {
    background-color: #F66B0E;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    width: auto;
    border-radius : 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
}  

/* .mainpage{
    margin : 200px; 
    padding : 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ef0707;
    border : 1px solid black;
    border-radius : 10px;
}
/* .imgpage{
    margin : 50px; 
    background-color: #630bd7;
    border-radius : 10px;
} */
/* .leftboxs {
    float: left;
    width:60%;
    padding: 15px;
    background-color:#999;
    border: 20px solid #fc0082;
    box-sizing: border-box;
}

.rightboxs {
    float: left;
    width:40%;
    padding: 15px;
    border: 20px solid #fc0082;
    background-color:#333; 
    box-sizing: border-box;
} */
