<!doctype html>
<html lang="en">
  <head>
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="http://bootstrapk.com/favicon.ico">
      <!-- Bootstrap core CSS -->
      <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  
      <!-- Custom styles for this template -->
      <link href="/static/css/starter-template.css" rel="stylesheet">
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .btn-info{
        margin: auto;
        padding: 6px 17px;
      }

      footer {
        margin: auto;
        position: center;
      }
    </style>
    <!-- <link rel="stylesheet" href="/static/style.css"> -->

    <title>Semi-conductor Detector</title>
  </head>
      <!-- Navigation-->
      <nav class="navbar navbar-success navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <div class="navbar-brand">반도체 결함 탐지 시스템</div> -->
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="http://127.0.0.1:5000/">Home</a></li>
              <li><a href="http://127.0.0.1:5000/description">Description</a></li>     
              <li><a href="http://127.0.0.1:5000/labels">Labels</a></li>
              <li class="active"><a href="http://127.0.0.1:5000/detect">Detect</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
   
  <body class="text-center">
    <form class="form-signin" method=post enctype=multipart/form-data>
       <h1 class="h3 mb-3 font-weight-normal"><b>회로패턴검사</b></h1>
        <!-- <img class="mb-4" src="/static/cakd5.png" alt="" width="300"> -->
        <img class="mb-4" src="/static/img/detect_img.jpg" alt="" width="300">
        <br>
        <p id="input"><input type="file" name="file" class="btn btn-info mb-4" id="inputfile" width="400" multiple></p>
        
        <p><input type="reset"></p>
        <br/>
        <button class="btn btn-secondary" type="submit">검사하기</button>
        <br>
        <p class="mt-5 mb-3 text-muted"><br>cakd8 3차 프로젝트 4조 반도체 결함 탐지</p>
    </form>
    <script type="text/javascript">
      $('#inputfile').bind('change', function() {
        let fileSize = this.files[0].size/1024/1024; // this gives in MB
        if (fileSize > 1) {
          $("#inputfile").val(null);
          alert('file is too big. images more than 1MB are not allowed')
          return
        }
        let ext = $('#inputfile').val().split('.').pop().toLowerCase();
        if($.inArray(ext, ['jpg','jpeg']) == -1) {
          $("#inputfile").val(null);
          alert('only jpeg/jpg files are allowed!');
        }
      });
      </script>

      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script> -->
    
    <!-- <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> -->
    
    <footer class="footer" style="
    text-align: center;
    bottom: 0;">
      <p>Copyright © 2023 cakd8 4조 All rights reserved.       
        <a href="https://github.com/woolist/Vision_Project.git">Git</a>
      </p>
    </footer>
  </body>
  </html>
  