html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;


  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 1px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

div{
padding: 30px;
}


#dropbox {
    border: 2px dashed #000000;
    padding: 20px;
    margin:auto;
}

#dropbox.active {
    border: 4px dashed #FF0000;
}

.progress-trough {
    border: 1px solid #000000;
    height: 24px;
    width: 100%;
    position: relative;
}

.progress-bar {
    width: 50%;
    height: 100%;
    background-color: #0099FF;
}